<div class="b-sign-in">
    <h1>{{test}}</h1>

    <!--form action="/users" method="post">
        <input type="text" name="fname"/><br/>
        <input type="text" name="lname"/><br/>
        <input type="submit"/>
    </form-->
    <form action="/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
</div>