<div class="b-sign-in">
    <h1>{{test}}</h1>

    <!--form action="/users" method="post">
        <input type="text" name="fname"/><br/>
        <input type="text" name="lname"/><br/>
        <input type="submit"/>
    </form-->
    <form>
        <input type="text" ng-model="currUrl"/>
        <div>
            <label>Username:</label>
            <input type="text" ng-model="params.login" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" ng-model="params.password" name="password"/>
        </div>
        <div>
            <button type="button" ng-click="sendSignIn()">Отправить</button>
        </div>

        <div>
            <h4>{{messages}}</h4>
        </div>
    </form>
</div>